 * {
 	margin: 0; 
 	padding: 0;
 }

body {
	
	margin: 0 auto;
	font-family:  Times New Roman, sans-serif;
	box-sizing: border-box;

}
.knopka {
	
}
.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: inherit;
}

.foto {
	width: 35%;
}

.dropbtn {
    background: #1a4ddd;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    margin-left: 500px;
    width: 250px;
    border-radius: 20px;
    
}

.dropup {
    position: absolute;
    

}
.dropup-content .two {
	display: none;
}

.dropup-content {
    display: none;
    position: absolute;
    min-width: 160px;
    bottom: 130px;
    background: #1a4ddd;
    width: 100%;
    margin-left: 250px;
    border: 5px solid #EA1919;
    margin-bottom: 100px;
    
}

.dropup-content li {
    color: black;
    padding: 12px 16px;
    margin-left: 30px;
    color: #FBF6F6;
    font-size: 15px;
}
h2 {
	color: #FBF6F6;
	text-align: center;

}

.dropup:hover .dropup-content {
    display: block;
}
.header {
height: 200px;
}
.foto img {
	max-width: 100%;
	height: auto;

}

.left {
	float: left;
}

 .logo {
float: left;
margin-left: 40px;
}

.main {
	margin: 0 auto;
	max-width: 1600px;
}
.btn {
	display: block;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
	color: #E9F3F3;
	border-radius: 20px;
	border: 5px;
	border-color: #0B0808;
	padding: 15px 0;
	float: right;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 100px;
	background: #1a4ddd;
	margin-bottom: 20px;


}
.popup {
	display: block;
	margin-left: 540px;
    margin-top: 200px;
	width: 30%;
	background-color: #1a4ddd;
	color: white;
	padding: 30px;
	position: absolute;
	transition: 0.5 all;
	top: -999px;
    z-index: 12;
}
.popup input {
	display: block;
	width: 100%;
	border: none;
	height: 40px;
	line-height: 25px;
	margin: 10px 0;
}
.submit {
	background-color: #fff;
	font-size: 25px;
	cursor: pointer;

}
#modal:checked ~ .popup {
	top: 0;
}
#modal {
	display: none;
}
.close {
	position: absolute;
	top: 5px;
	right: 10px;
	transform: rotate(45deg);
	font-size: 24px;
	cursor: pointer;
}

a {
	font-size: 20px;
	margin-top: 80px;
	position: absolute;
	margin-left: 300px;
	text-decoration: none;
	border-style: solid;
	border-color:  #1a4ddd;
	color: #FAF2F2;
	border-radius: 20px;
	background:  #1a4ddd;
	width: 200px;
	text-align: center; 
}
#text1, #text2, #text3 {
	font-size: 3.3vw;
	color: #F20B0B;
	word-spacing: 10px;
	line-height: 8vw;
}
#text1 {
	
}
#text2 {
	text-indent: 110px;
}
#text3 {
	text-indent: 240px;
}
.block1, .block2, {
	

}
.q {
   display: flex;
   justify-content: space-around;

}
@media (max-width: 1200px) {
   .dropbtn {
       margin-left: 290px;
   }
   
   .popup {
   	width: 40vw;
   margin-top: 100px;
   }

}

@media (max-width: 991px){
 .tel a {
 	margin-left: 130px;
 }
  img {
 	float: none;
 }
 
 .btn {
	width: 200px;
	padding: 12px 0;
	height: 14px;
	font-size: 14px;
}
h1 {
	font-size: 20px;
}
.block2 {
	clear: both;
	font-size: 12px;
}
.block1 {
	font-size: 12px;
}
  .popup {
  	width: 50%;
    margin-left: 200px;
    margin-top: 100px;
  }
  .dropbtn {
  	margin-left: 220px;
  	width: 200px;
    padding: 12px 0;
    font-size: 14px;
    font-family: Times New Roman, sans-serif; 
  }
  .dropup-content {
  	width: 650px;
  	margin-left: 170px;
  }
}


@media (max-width: 767px) {
    .tel a {
 	margin-left: 70px;
 }
 .foto img {
 	width: 100%;
 	height: auto;
 	clear: both;
 }
#text1, #text2, #text3 {
	text-align: center;
	font-size: 6.8vw;
	line-height: 10vw;
}
 
.foto {
	width: 100%;
}

 .block1 {
 	   margin-left: 30px;
 	   
      }
 .block2 {
         margin-left: 40px;
         
 }
 h1 {
 	font-size: 20px;

 }
 li {
 	font-size: 14px;
 }
 .btn {
 	display: block;
    width: 140px;
    height: 11px;
    font-size: 12px;
    padding: 12px;
 }
 .popup {
 	position: absolute;
    margin-left: 170px;
    width: 50%;
    margin-top: 520px;
 }
 .dropup-content {
  	width: 650px;
  	margin-left: 55px;
  }
  .dropbtn {
  	width: 160px;
  	font-size: 12px;
  	padding: 11px;
  	

  }
}
@media (max-width: 717px) {
 .header {
 	height: auto;
 }

  .tel a {
  	font-size: 18px;
  	padding: 0px 13px;

  }
.block2 {
	display: none;
}
.block1 h1 {
	margin-left: 100px;
}
ul {
	margin-left: 100px;
}
#text1, #text2, #text3 {
    font-size: 5vw;
}
.logo {
  float: none;
  text-align: center;
 }
 .tel a {
 	position: relative;
 	margin: 0 auto;

 }
 .tel {
 	text-align: center;
 }
.text-foto {
	text-align: center;
    text-indent: 100px;
}
  .knopka {
  
  } 
  .btn {
  	font-size: 10px;
  	width: 130px;
    padding: 5px;
  }
  .popup {
  	margin-top: 340px;
  	margin-left: 150px;
  }
  .dropbtn {
  	  margin-left: 70px;
  	  font-size: 10px;
  	  padding: 5px;
  	  width: 130px;
  }
  li {
  	font-size: 12px;
  }
  .dropup-content .two {
  	display: block;
  }
}
  @media (max-width: 468px) {
  	.header {
  		height: auto;
  	}

  	.dropbtn {
  	  margin-left: 20px;
  	  font-size: 10px;
  	  padding: 5px;
  	  width: 130px;
  }
  .popup {
  	margin-top: 270px;
  	margin-left: 35px;
  	width: 70%;
  }
  .logo img {
  		width: 100%;
  	}
  .btn {
  	margin-right: 20px;
  }
  .text-foto {
  	text-indent: 70px;
  }
  #text2 {
  	text-indent: 80px;
  }
  #text3 {
  	text-indent: 80px;
  }
  li {
  	font-size: 10px;
  }
  .block1 {
  	margin: 0 auto;
  }
  .dropup-content {
  	margin-left: 1px;
  	width: 300%;
  }
  .dropup-content li {
  	margin-left: -60px;
  }
   

  }
  @media (max-width: 320px) {
  	.logo img {
  		width: 100%;
  	}
  .logo {
  	margin: 0 auto;
  	width: 100%;

  }
  .popup {
  	margin-top: 150px;
  	margin-left: 27px;
  	width: 70%;
  }
  #text1 {
  	text-indent: 45px;
  }
  #text2 {
  	text-indent: 45px;
  }
   #text3 {
  	text-indent: 45px;
  }
  .tel a {
  	font-size: 16px;
  	padding: 0px 13px;
  }
}
 



